<%- include("../partials/header", {title : "Nouvelle tâche", style : "todosForm"}) %>
<%- include("../partials/navbar") %>

<main>
    <h1 class="title">Nouvelle tâche</h1>
    <div class="instruction">
        <img src="/images/addTodo.svg" alt="">
        <p>Définir un nom à votre projet et lister les étapes pour sa réalisation.</p>
    </div>
    <section class="bloc_todos">    
        <form action="" method="post" class="flex-center">
            <div class="center content">
                <%- include("../components/input", {type : "text", name : "projectName", label : "Nom du Projet"}) %>
            </div>
            <div class="content">
                <h3>ETAPES :</h3>
                <ol>
                    <li><%- include("../components/input", {type : "text", name : "step1", label : "Etape 1"}) %></li>
                    <li><%- include("../components/input", {type : "text", name : "step2", label : "Etape 2"}) %></li>
                    <li><%- include("../components/input", {type : "text", name : "step3", label : "Etape 3"}) %></li>
                    <li><%- include("../components/input", {type : "text", name : "step4", label : "Etape 4"}) %></li>
                    <li><%- include("../components/input", {type : "text", name : "step5", label : "Etape 5"}) %></li> 
                </ol> 
            </div>
                
            <div class="choices content">
                <a href="/todos/all" class="button btn_back" type="button">Retour</a>
                <button type="submit" class="button btn_validation">Ajouter</button>
            </div>
        </form>
    </section>
</main>  

   
<%- include("../partials/footer") %>
