<%- include("../partials/header", {title : "Nouvelle tâche", style : "addTodos"}) %>
<%- include("../partials/navbar") %>

    
    <h1 class="title">Nouvelle tâche</h1>

    <section class="bloc_todos">    
        <form action="" method="post" class="flex-center">
            <div class="center">
                <%- include("../components/input", {type : "text", name : "projectName", label : "Nom du Projet"}) %>
            </div>
            <div>
                <h3>ETAPES :</h3>
                <ol>
                    <li><%- include("../components/input", {type : "text", name : "step1", label : "Etape 1"}) %></li>
                    <li><%- include("../components/input", {type : "text", name : "step2", label : "Etape 2"}) %></li>
                    <li><%- include("../components/input", {type : "text", name : "step3", label : "Etape 3"}) %></li>
                    <li><%- include("../components/input", {type : "text", name : "step4", label : "Etape 4"}) %></li>
                    <li><%- include("../components/input", {type : "text", name : "step5", label : "Etape 5"}) %></li> 
                </ol> 
            </div>
            
            <div>
                <h3>A FAIRE :</h3>
                <ul>
                   <li><%- include("../components/input", {type : "text", name : "todo1", label : "Etape 1"}) %></li>
                   <li><%- include("../components/input", {type : "text", name : "todo2", label : "Etape 2"}) %></li>
                   <li><%- include("../components/input", {type : "text", name : "todo3", label : "Etape 3"}) %></li>
                   <li><%- include("../components/input", {type : "text", name : "todo4", label : "Etape 4"}) %></li>
                   <li><%- include("../components/input", {type : "text", name : "todo5", label : "Etape 5"}) %></li> 
                </ul>
            </div>
            
            <div class="choices">
                <a href="/todos/all" class="button btn_back" type="button">Retour</a>
                <button type="submit" class="button btn_validation">Ajouter</button>
            </div>
        </form>

    </section>
   
<%- include("../partials/footer") %>
