<%- include("../partials/header", {title : "Liste de tâches", style : "allTodos"}) %>
<%- include("../partials/navbar") %>

<% if(locals.connected) { %>
    <p>Bonjour <%= locals.user.username %></p>
<% } else { %>
    <p>Bonjour inconnu</p>
<% } %>
    
    <h1 class="title">Liste de tâches</h1>
    <div class="flex-end">
        <a href="/todos/add"><button class="button add-todo" title="Ajouter"><i class="bi bi-plus-lg"></i></i></button></a>
    </div>

    <table>
        <thead>
            <tr>
               <th scope="col">A faire</th>
               <th scope="col">En cours</th>
               <th scope="col">Terminée</th> 
            </tr>
        </thead>
        <tbody>
           
            <% if (locals.todos) { %>
                <% todos.forEach(todo => { %>
                    <tr class="vide">
                        <td></td>
                    </tr>
                    <tr class="todo">
                        <td>
                            <a href="/todos/detail/<%= todo.id %>">
                            <p class="projectName"><%= todo.projectName %></p>
                            <p><%= todo.created_at.toISOString().replace(/T/, ' à ').replace(/\..+/, '') %></p>
                            </a>
                            <a href=""><i class="bi bi-pencil"></i></a>
                        </td>
                    </tr>
                <% }) %>
            <% } %>
        </tbody>
               
    </table>




   
<!--     
    <section class="bloc_homePage">
        <span>1.</span>
        <p>Avant de commencer, créer un compte et connectez-vous à votre espace utilisateur : </p>
        <img src="/images/capture1_homePage.png" alt="Capture de la page d'inscription du Gestionnaire de tâche en ligne gratuit">
    </section>

    <section class="bloc_homePage">
        <span>2.</span>
        <p>Une fois connecté, vous pourrez créer de nouvelles tâches afin d’organiser vos projets.</p>
        <img src="/images/capture2_homePage.png" alt="Capture de la page de création de tâche du Gestionnaire de tâche en ligne gratuit">
    </section>

    <section class="bloc_homePage">
        <span>3.</span>
        <p>Obtenez une vision globale des projets en cours.</p>
        <img src="/images/capture3_homePage.png" alt="Capture de la page qui rassemble toutes les tâches du Gestionnaire de tâche en ligne gratuit">
    </section> -->


<%- include("../partials/footer") %>
